*{
margin:0;

box-sizing: border box;
}
body{
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items:center;
height: 100vh;
/* viewport height in viewport width*/

}
.virsraksts{
font-size: 48px;
color: blue;
font-weight: bold;
}
.forma{
display: flex;
flex-direction: column;
text-align: center;


}
.email
}
.password
}


